

<link rel="stylesheet" href="/css/portal.css">


<button id="btn1" onclick="window.location.href='hire_portal'"> Post a Job </button>
    


<button id= "btn2" onclick="window.location.href='job_portal'"> Apply for a Job </button>
    
